.container-header {
  background: #fff;
  padding: 0 30px;
}

.container-header .content-header {
  height: 9vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-header .content-header nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.container-header .content-header nav div,
.container-header .content-header nav p {
  font-weight: bold;
  color: #81259d;
  display: inline;
  margin: 0 10px;
  font-size: 2rem;
}

.container-header .content-header nav p {
  font-size: 1.2rem;
}

@media (max-width: 600px) {
  .container-header {
    margin-bottom: 15px;
  }

  .container-header .content-header nav p {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .container-header .content-header nav p {
    font-size: 10px;
  }
}
